<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>시간표</title>

  <!--   <link rel="stylesheet" type="text/css" href="style.css" >-->
  <style>
    nav {
      font-size: 12pt;
      position: relative;
    }

    nav ul {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    nav a {
      line-height: 50px;
      height: 50px;
    }

    nav li a {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    nav li:last-child a {
      border-right: 0;
    }

    nav a#pull {
      display: none;
    }

    .clearfix {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgb(194, 3, 30);
      line-height: 100px;
    }

    li {
      position: relative;
      display: inline-block;
    }

    li a {
      color: #fcfcfc;
      text-align: center;
      padding: 14.5px 80px;
      text-decoration: none;

    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      /*width: 5px;
      height: 30px;*/
    }

    table {
      float: right;
      margin-right: 50px;
      margin-bottom: 50px;

    }

    td {
      padding: 30px;
    }

    th {
      text-align: center;

    }


    body {
      width: 100%;
      margin-top: 0%;
      margin-left: 0;
      margin-bottom: 0%;
      margin-right: 0%;
      position: absolute;
    }

    #listmenu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      background-color: #ffffff;
      position: sta;
      height: 100%;
      overflow: auto;
    }
  </style>

  <script>
    var i, j;
    var starttime = new Array;
    //starttime[j][i] = 10 * j + i;
    //document.getElementById("date1").value = starttime[j][i];

    function run() {
      window.open("/classselect.html","new", "toolbar=no, menubar=no, scrollbars=yes, resizable=no, width=700, height=700, left=0, top=0");
    }

    function popupOpen(){
		var url= "/classselect.html";    //팝업창에 출력될 페이지 URL
		var winWidth = 700;
	    var winHeight = 600;
	    var popupOption= "width="+winWidth+", height="+winHeight;    //팝업창 옵션(optoin)
	    var myWindow = window.open(url,"TestName",popupOption);
	    myWindow.document.write("<h1>"+myWindow.name+"</h1>");
	}

  </script>
</head>

<!-- 아래부터 상단 메뉴바 -->

<body>
  <header>
    <div class="menu">
      <nav class="clearfix">
        <ul class="clearfix">
          <li><a href="/"><img src="dsulogo.PNG" style="float:left; height: 100px;"></a></li>
          <li><a href="/">시간표</a></li>
          <li><a href="subjectlist.html">전체수강조회</a></li>
          <li><a href="">신청내역조회</a></li>
          <li><a href="">시간</a></li>
        </ul>
        <a id="pull" href="#"></a>
      </nav>
    </div>
  </header>
  <div style="clear: both;">
    <ul class='listmenu'>
      <li>학년</li>
      <li>전공</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div style="clear: both;"></div>

  <!--시간표 -->
  <div>
    <table style="width:90%" id="tableId">
      <caption>2022년도 1학기의 수강 시간표 입니다.</caption>

      <tr class="colored">
        <th> </th>
        <th>월</th>
        <th>화</th>
        <th>수</th>
        <th>목</th>
        <th>금</th>
      </tr>

      <% for(i=1; i< 10; i++) { %>
        <tr>
        <tr class="colored">
          <th>
            <%= i %>
          </th>
          <% for(j=0; j< 5; j++) { %>
            <script>
              starttime[j][i] = 10 * j + i;
              document.getElementById("date1").value = starttime[j][i];
            </script>

            <input type="hidden" id="date1" name="date1" value="">
            <td onmouseover="this.style.background='#555'" onmouseout="this.style.background='white'"
              onClick="run();">
            </td>
            <% } %>
        </tr>
        <% } %>

    </table>
  </div>

</body>


</html>