<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

#verticalmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#horizontalmenu {
  margin  : 50px;
  padding : 0;
}
.horielementli{
  list-style-type: none;
  display: inline-block;
}
.horielementa{
  display: block;
  padding: 6px 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease-in-out;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #555;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width : 100px;
    height: 40px;
}
td {
    padding: 20px;
    
}
th {
    text-align: center;
}

tr.colored:nth-child(even){

background-color:#aaaaaa;

color:#000000;

}

tr.colored:nth-child(odd){

background-color:#444444;

color:#FFFFFF;

}

tr.colored:hover td{

background-color:#f3e9e9 !important;

color:#303f39 !important;

}


</style>
</head>
<body>

<ul id='verticalmenu'> 
  <li><a class="active" href="#">홈</a></li>
  <li><a href="#">공지사항</a></li>
  <li><a href="#">소개</a></li>
  <li><a href="#">자유게시판</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
<ul id = "horizontalmenu">
  <li class = "horielementli"><a href="/" class="horielementa">시간표</a></li>
  <li class = "horielementli"><a href="subjectlist.html" class="horielementa">전체 수강 과목</a></li>
  <li class = "horielementli"><a href="#" class="horielementa">item3</a></li>
  <li class = "horielementli"><a href="#" class="horielementa">item4</a></li>
</ul>
    <table style="width:100%">
        <tr>
          <th> </th>
            <th>수업 번호</th>
            <th>분반</th>
            <th>교과명</th>
            <th>교수명</th>
            <th>과목분류</th>
            <th>학점</th>  
        </tr>
        <tr  class="colored">
            <th></th>
        </tr>
    </table>

</div>

</body>
</html>